body {
    margin: 0;
    font-family: Arial, sans-serif;
}


header {
    background-color: #e6e6e6;
    padding: 20px 40px;
    display: flex;
    align-items: flex-start;
}

/*photo */

.photo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 120px;
}

.photo img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.photo p {
    margin-top: 10px;
}

/*nav */

#navigation {
    display: flex;
    gap: 60px;
    margin-top: 20px;
}

#navigation a {
    color: blue;
    text-decoration: none;
    font-weight: bold;
}

/*section-support */

#support {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #bfbfbf;
    padding: 10px 20px;
}

#support > a {
    color: black;
    text-decoration: none;
}

/*menu-deroulant */

.menu-deroulant {
    position: relative;
}

.sous-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    background-color:lightgray;
    min-width: 200px;
}

.sous-menu a {
    padding: 10px;
    color: blue;
    text-decoration: none;
}

.sous-menu a:hover {
    background-color: lightgray;
}

.menu-deroulant:hover > a {
    background-color: lightgray;
}

/* Affichage au survol */
.menu-deroulant:hover .sous-menu {
    display: flex;
}

/* --- OPTIMISATION MOBILE --- */


#menu-toggle, .burger {
    display: none;
}

@media (max-width: 768px) {
  
    .burger {
        display: flex;
        flex-direction: column;
        gap: 5px;
        width: 30px;
        padding: 20px;
        cursor: pointer;
        z-index: 1001;
    }

    .burger span {
        display: block;
        height: 4px;
        width: 100%;
        background-color: #333;
        transition: 0.3s;
    }

    #menu-toggle:checked + .burger {
        display: none;
    }

    header {
        flex-direction: column;
        align-items: center; 
        padding: 20px 0;   
    }

    .photo {
        margin-right: 0;  
        margin-bottom: 20px; 
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #navigation {
        display: none; 
        flex-direction: column;
        width: 100%;
        gap: 15px;
        text-align: center;
        background: #f4f4f4;
        padding: 20px 0;
    }

   
    #menu-toggle:checked ~ header #navigation {
        display: flex;
    }

    
    #support {
        position: relative; 
        width: 100%;
        text-align: center;
    }

   
    .sous-menu {
        position: static; 
        max-height: 0;
        overflow: hidden;
        opacity: 0;
        transition: all 0.5s ease-in-out; 
        background: #ddd;
    }

    .menu-deroulant:hover .sous-menu {
        max-height: 200px; 
        opacity: 1;
        padding: 10px 0;
    }
}